<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
     <header>
	     <nav>
		     <ul>
		         <li><a th:href="@{/}">Home</a>
		         <li><a th:href="@{/contatos}">Listar</a>
		         <li><a th:href="@{/contatos/novo}">Novo</a>
		     </ul>
	     </nav>
     </header>
     <main>
         <section>
                <h1>Seja Bem vindo</h1>
         </section>
     </main>
</body>
</html>